.body_slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.body_slides li {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position-x: center;
  opacity: 0;
  -webkit-animation: anim_slides 12s linear infinite 0s;
          animation: anim_slides 12s linear infinite 0s;
}

.body_slides li:nth-child(1) {
  background-image: url("../img/fone_code_two.jpg");
}

.body_slides li:nth-child(2) {
  -webkit-animation-delay: 6.0s;
  -moz-animation-delay: 6.0s;
  background-image: url("../img/fone_code_one.webp");
}

@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .navbar_collapse, .hidden_mobile_li {
    position: absolute;
    top: 15%;
    left: 3%;
  }
  .navbar_collapse {
    display: none;
    z-index: 9;
  }
  .navbar_collapse > ul {
    display: block;
  }
  .hidden_mobile_li {
    display: block;
  }
  .nav-item {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
    padding-bottom: 20px;
  }
  .nav-item a {
    text-transform: uppercase;
  }
  .active_li_mobile_menu {
    opacity: 1;
  }
}

.navbar-toggler {
  display: none;
  position: relative;
  border: none;
  width: 36px;
  height: 25px;
  z-index: 9;
  background: transparent;
  margin-top: 5%;
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    display: block;
  }
}

.navbar-toggler > span {
  border: 0.5px solid transparent;
  background: #656565;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
}

.navbar-toggler > span:first-child {
  top: 0;
}

.navbar-toggler > span:last-child {
  bottom: 0;
}

.navbar_line_active_1 {
  opacity: 0;
}

.navbar_line_active_2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar_line_active_3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#fon_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

* {
  outline: none !important;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

header > img {
  position: absolute;
  right: 2%;
  top: 36%;
  width: 41%;
}

header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px;
}

header > nav a {
  color: white;
}

header > nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header > nav > div > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
}

header > nav > div > ul > li {
  color: white;
  margin-left: 34px;
  font-size: 25px;
}

@media screen and (max-width: 1480px) {
  header > nav > div > ul > li {
    margin-left: 14px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  header > nav > div > ul > li {
    margin-left: 14px;
    font-size: 16px;
  }
}

header > nav > div > ul > li > a {
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

header > nav > div > ul > li > a:hover {
  color: red;
}

main section {
  position: relative;
}

main section h2 {
  left: 0;
  top: 10%;
  position: absolute;
  right: 0;
  margin: auto;
  width: 88px;
}

main section:nth-child(1) {
  background: #d6ebc9;
}

main section:nth-child(1) h2 {
  width: 319px;
}

main section:nth-child(2) {
  background: #bebebe;
}

main section:nth-child(2) h2 {
  width: 144px;
}

main section:nth-child(3) {
  background: #d6ebc9;
}

main section:nth-child(4) {
  background: #bebebe;
}

main section:nth-child(5) {
  background: #d6ebc9;
}

.social_media_button {
  position: absolute;
  top: 25%;
  width: 50px;
  height: 50px;
}

.wrapper {
  position: absolute;
  top: 34%;
  display: none;
}

.wrapper a:not(:first-child) {
  cursor: pointer;
  margin: 0 12px 12px;
  height: 41px;
  width: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .instagram {
  background: url("/img/social/instagram.svg") no-repeat;
}

.wrapper .skype {
  background: url("/img/social/skype.svg") no-repeat;
}

.wrapper .vkontakte {
  background: url("/img/social/vk.svg") no-repeat;
}

.wrapper .email {
  background: url("/img/social/email.svg") no-repeat;
}

.wrapper .telegram {
  background: url("/img/social/telegram.svg") no-repeat;
}

.wrapper_active {
  display: block;
}

.social_link_active {
  opacity: 1 !important;
}
/*# sourceMappingURL=style.css.map */